<div id="app" class="app">
  <div class="login login-with-news-feed">
    <div class="news-feed">
      <div class="news-image" style="background-image: url(../assets/img/login-bg/login-bg-11.jpg)"></div>
      <div class="news-caption">
        <h4 class="caption-title"><b>Scouts</b> Venezuela</h4>
        <p>
        Construyendo un mundo mejor.
        </p>
      </div>
    </div>
    <div class="login-container">
      <div class="login-header mb-30px">
        <div class="brand">
          <div class="d-flex align-items-center">
            <b>Confirmacion de email</b>
          </div>
          <small>Ingresa tu correo registrado</small>
        </div>
        <div class="icon">
          <i class="fa fa-sign-in-alt"></i>
        </div>
      </div>
      <div class="login-content">
        <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }, class: 'fs-13px') do |f| %>
          <%= render "users/shared/error_messages", resource: resource %>
          <div class="mb-2">
            <%= f.label :email, class: 'mb-2' %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", 
                        value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), 
                        class: 'form-control fs-13px'%>
          </div>
          <div class="actions d-flex justify-content-center">
            <%= f.submit "Reenviar", class: 'btn btn-indigo d-block w-100 btn-lg h-45px fs-13px' %>
          </div>
        <% end %>
        <br>
        <%= render "users/shared/links" %>
      </div>
    </div>
  </div>
