<div class="profile">
  <div class="profile-header">
    <!-- BEGIN profile-header-tab -->
    <ul class="profile-header-tab nav nav-tabs px-3 pb-1 pt-2">
      <li class="nav-item"><a href="#profile-info" class="nav-link active" data-bs-toggle="tab"><%= t '.profile' %></a></li>
      <li class="nav-item"><a href="#profile-medical-file" class="nav-link" data-bs-toggle="tab"><%= t '.medical_file' %></a></li>
    </ul>
    <!-- END profile-header-tab -->

    <!-- BEGIN profile-content -->
    <div class="profile-content">
      <!-- BEGIN tab-content -->
      <div class="tab-content p-0">
        <!-- BEGIN #profile-info tab -->
        <div class="tab-pane fade show active" id="profile-info">
          <!-- BEGIN table -->
          <div class="table-responsive form-inline">
            <table class="table table-profile align-middle">
              <tbody>
                <tr class="highlight">
                  <td class="as_field_custom">Mobile</td>
                  <td><i class="fa fa-mobile fa-lg me-5px"></i> <%= @member&.phone %></td>
                </tr>
                <tr class="divider">
                  <td colspan="2"></td>
                </tr>
                <tr>
                  <td class="as_field_custom">Genero</td>
                  <td><%= @member.gender %></td>
                </tr>
                <tr>
                  <td class="as_field_custom">Fecha de nacimiento</td>
                  <td><%= @member.birthdate %> / <%= @member.age %> Años.</td>
                </tr>
                <tr>
                  <td class="as_field_custom">Fecha de admisión</td>
                  <td><%= @member.date_admission %></td>
                </tr>
                <tr>
                  <td class="as_field_custom">Fecha de promesa</td>
                  <td><%= @member.date_promise %></td>
                </tr>
                <tr>
                  <td class="as_field_custom">Tipo de miembro</td>
                  <td><%= @member.member_type %></td>
                </tr>
                <tr>
                  <td class="as_field_custom">Segundo correo electrónico</td>
                  <td><%= @member.second_email %></td>
                </tr>
                <tr>
                  <td class="as_field_custom">Renovación de estatus</td>
                  <td>
                    <%= "Desactivada" unless @member.status_renewal === "enabled" %>
                    <%= "Activa" if @member.status_renewal === "enabled" %> - <%= current_user.payment_renewal_end %></td>
                </tr>
                <tr class="divider">
                  <td colspan="2"></td>
                </tr>
                <!-- <tr class="highlight">
                  <td class="as_field_custom">&nbsp;</td>
                  <td class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary w-150px">Edit</button>
                  </td>
                </tr> -->
              </tbody>
            </table>
          </div>
          <!-- END table -->
        </div>
        <!-- END #profile-info tab -->
        <!-- BEGIN #profile-medical-file tab -->
        <div class="tab-pane fade" id="profile-medical-file">
          <% unless @member.medical_files.present? %>
            <div class="row mb-2">
              <div class="col">
              </div>
              <div class="col">
                <div class="d-flex justify-content-end">
                  <%= link_to t('.new'), new_users_medical_file_path, class: "btn btn-success btn-sm font-bold" %>
                </div>
              </div>
            </div>
          <% end %>
          <% if @member.medical_files.present? %>
            <% data = @member.medical_files.last %>
            <!-- BEGIN table -->
            <div class="table-responsive form-inline">
              <table class="table table-profile align-middle">
                <tbody>
                  <tr class="highlight" style="background: #FFFFFF;">
                    <td class="as_field_custom"><b>Datos basicos</b></td>
                    <td></td>
                  </tr>
                  <tr class="divider">
                    <td colspan="2"></td>
                  </tr>
                  <tr>
                    <td class="as_field_custom">Tipo de sangre</td>
                    <td><%= data&.blood_type %></td>
                  </tr>
                  <tr>
                    <td class="as_field_custom">Estatura</td>
                    <td><%= data&.height %></td>
                  </tr>
                  <tr>
                    <td class="as_field_custom">Peso</td>
                    <td><%= data&.weight %></td>
                  </tr>
                  <tr class="highlight" style="background: #FFFFFF;">
                    <td class="as_field_custom"><b>Datos de Contacto Emergencia</b></td>
                    <td></td>
                  </tr>
                  <tr class="divider">
                    <td colspan="2"></td>
                  </tr>
                  <tr>
                    <td class="as_field_custom">Nombre</td>
                    <td><%= data&.emergency_first_name %> <%= data&.emergency_last_name %></td>
                  </tr>
                  <tr>
                    <td class="as_field_custom">Telefono</td>
                    <td><%= data&.emergency_number %></td>
                  </tr>
                  <% if @vaccines_member.present? %>
                    <tr class="highlight" style="background: #FFFFFF;">
                      <td class="as_field_custom"><b>Vacunas</b></td>
                      <td></td>
                    </tr>
                    <tr class="divider">
                      <td colspan="2"></td>
                    </tr>
                    <tr>
                      <td class="as_field_custom">
                        <% @vaccines_member.each do |e| %>
                          <span class="mx-3"><%= e.vaccine.vaccine_name %></span>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                  <% if @allergies_member.present? %>
                    <tr class="highlight" style="background: #FFFFFF;">
                      <td class="as_field_custom"><b>Alergias</b></td>
                      <td></td>
                    </tr>
                    <tr class="divider">
                      <td colspan="2"></td>
                    </tr>
                    <tr>
                      <td class="as_field_custom">
                        <% @allergies_member.each do |e| %>
                          <span class="mx-3"><%= e.allergy.allergies_name %></span>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                  <% if @diseases_member.present? %>
                    <tr class="highlight" style="background: #FFFFFF;">
                      <td class="as_field_custom"><b>Antecedentes Psicológicos/Psiquiátricos</b></td>
                      <td></td>
                    </tr>
                    <tr class="divider">
                      <td colspan="2"></td>
                    </tr>
                    <tr>
                      <td class="as_field_custom">
                        <% @diseases_member.each do |e| %>
                          <span class="mx-3"><%= e.disease.diseases_name %></span>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                  <% if @histories_member.present? %>
                    <tr class="highlight" style="background: #FFFFFF;">
                      <td class="as_field_custom"><b>Antecedentes Médicos</b></td>
                      <td></td>
                    </tr>
                    <tr class="divider">
                      <td colspan="2"></td>
                    </tr>
                    <tr>
                      <td class="as_field_custom">
                        <% @histories_member.each do |e| %>
                          <span class="mx-3"><%= e.history.histories_name %></span>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                  <% if @handicaps_member.present? %>
                    <tr class="highlight" style="background: #FFFFFF;">
                      <td class="as_field_custom"><b>Discapacidades</b></td>
                      <td></td>
                    </tr>
                    <tr class="divider">
                      <td colspan="2"></td>
                    </tr>
                    <tr>
                      <td class="as_field_custom">
                        <% @handicaps_member.each do |e| %>
                          <span class="mx-3"><%= e.handicap.handicaps_name %></span>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                  <% if @intolerances_member.present? %>
                    <tr class="highlight" style="background: #FFFFFF;">
                      <td class="as_field_custom"><b>Intolerancias</b></td>
                      <td></td>
                    </tr>
                    <tr class="divider">
                      <td colspan="2"></td>
                    </tr>
                    <tr>
                      <td class="as_field_custom">
                        <% @intolerances_member.each do |e| %>
                          <span class="mx-3"><%= e.intolerance.intolerances_name %></span>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                  <tr class="highlight">
                    <td class="as_field_custom">&nbsp;</td>
                    <td class="d-flex justify-content-end">
                      <%= link_to t('.edit'), edit_users_medical_file_path(@medical_files.id), class: "btn btn-primary btn-sm font-bold" %>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- END table -->
          <% end %>
        </div>
        <!-- END #profile-medical-file tab -->
      </div>
      <!-- END tab-content -->
    </div>
    <!-- END profile-content -->
  </div>
</div>
