<%= form_with(model: users_history, url: users_history.persisted? ? users_history_path(users_history) : users_histories_path, class: "row g-3") do |form| %>
  <% if users_history.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(users_history.errors.count, "error") %> prohibited this users_history from being saved:</h2>

      <ul>
        <% users_history.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label t('.histories_name'), style: "display: block" %>
    <%= form.text_field :histories_name %>
  </div>

  <div>
    <%= form.label t('.histories_status'), style: "display: block" %>
    <%= form.check_box :histories_status %>
  </div>

  <div>
    <%= form.submit params[:action] == "new" ? t('.create') : t('.update') %>
  </div>
<% end %>
