<tr>
  <th scope="row"><%= history.histories_name %></th>
  <th scope="row"><%= history.histories_status %></th>
  <td>
    <% if policy(%i[users histories]).update? %>
      <%= link_to edit_users_history_path(history) do %>
        <span><%= t '.edit' %></span>
      <% end %>
    <% end %>
  </td>
</tr>
