<div class="p-4">
  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-start">
        <h1 class="page-header mb-10px"><%= t '.title' %></h1>
      </div>
    </div>
    <div class="col">
      <div class="d-flex justify-content-end">
        <%= link_to t('.new'), new_users_history_path, class: "btn btn-success btn-sm font-bold" %>
      </div>
    </div>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'history', collection: @histories %>
    </tbody>
  </table>
</div>
