<tr>
  <th scope="row"><%= allergy.allergies_name %></th>
  <th scope="row"><%= allergy.allergies_status %></th>
  <td>
    <% if policy(%i[users allergies]).update? %>
      <%= link_to edit_users_allergy_path(allergy) do %>
        <span><%= t '.edit' %></span>
      <% end %>
    <% end %>
  </td>
</tr>
