<%= form_with(model: users_allergy, url: users_allergy.persisted? ? users_allergy_path(users_allergy) : users_allergies_path, class: "row g-3") do |form| %>
  <% if users_allergy.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(users_allergy.errors.count, "error") %> prohibited this users_allergy from being saved:</h2>

      <ul>
        <% users_allergy.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label t('.allergies_name'), style: "display: block" %>
    <%= form.text_field :allergies_name %>
  </div>

  <div>
    <%= form.label t('.allergies_status'), style: "display: block" %>
    <%= form.check_box :allergies_status %>
  </div>

  <div>
    <%= form.submit params[:action] == "new" ? t('.create') : t('.update') %>
  </div>
<% end %>
