<%= form_with(model: @users_amount, url: @users_amount.persisted? ? users_amount_path(@users_amount) : users_amounts_path) do |f| %>
  <% if @users_amount.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@users_amount.errors.count, "error") %> prohibited this users_amount from being saved:</h2>

      <ul>
        <% @users_amount.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col mb-4">
      <%= f.label 'Nombre', class: 'form-label' %><br />
      <%= f.text_field :amount_name, autofocus: true, class: 'form-control form-control-lg', required: true, placeholder: 'Ingrese el nombre' %>
    </div>
    <!-- Aquí van los otros campos del formulario -->
    <div class="col mb-4">
      <%= f.label 'Monto USD', class: 'form-label' %><br />
      <%= f.text_field :amount_usd, autofocus: true, class: 'form-control form-control-lg', required: true, placeholder: 'Ingrese el monto en USD' %>
    </div>
    <div class="col mb-4">
      <%= f.label 'Tasa de Cambio', class: 'form-label' %><br />
      <%= f.text_field :amount_exchange, autofocus: true, class: 'form-control form-control-lg', required: true, placeholder: 'Ingrese la tasa de cambio' %>
    </div>
    <div class="col mb-4">
      <%= f.label 'Tipo de monto', class: 'form-label' %><br />
      <%= f.select(:amount_type, Amount.amount_types.keys.map { |key| [key.humanize, key] }, { include_blank: "Seleccion el tipo del monto" }, class: 'form-control form-control-lg') %>
    </div>
    <div class="orm-check mb-30px">
      <%= f.check_box :amount_status, class:"form-check-input" %>
      <%= f.label :amount_status, class: 'form-check-label' %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit 'Guardar', class: 'btn btn-primary' %>
  </div>
<% end %>
