<div class="p-4">
  <h1 class="page-header mb-10px"><%= t '.title' %></h1>

  <% @users_amounts.each do |users_amount| %>
    <%= render users_amount %>
    <p>
      <%= link_to "Show this amount", users_amount_path(users_amount) %>
    </p>
  <% end %>
  <%= link_to "New amount", new_users_amount_path %>
</div>
