<div class="p-4">
  <h1 class="page-header mb-10px"><%= t '.title' %></h1>

  <%= render "form", users_amount: @users_amount %>

  <br>

  <div>
    <%= link_to "Back to amounts", users_amounts_path %>
  </div>
</div>
