<div class="p-4">
  <%= render @users_amount %>

  <div>
    <%= link_to "Edit this amount", edit_users_amount_path(@users_amount) %> |
    <%= link_to "Back to amounts", users_amounts_path %>

    <%= link_to users_amount_path, data: {
      turbo_method: :delete,
      turbo_confirm: 'Confirmar'
    } do %>
      <span>Destroy this amount</span>
    <% end %>
  </div>
</div>
