<div class="login login-with-news-feed">
  <div class="news-feed">
    <div class="news-image" style="background-image: url(../assets/img/login-bg/login-bg-11.jpg)"></div>
    <div class="news-caption">
      <h4 class="caption-title"><b>Scouts</b> Venezuela</h4>
      <p>
        Construyendo un mundo mejor.
      </p>
    </div>
  </div>
  <div class="login-container">
    <div class="login-header mb-30px">
      <div class="brand">
        <div class="d-flex align-items-center">
          <b>Ingresa a tu sesion</b>
        </div>
        <small></small>
      </div>
      <div class="icon">
        <i class="fa fa-sign-in-alt"></i>
      </div>
    </div>
    <div class="login-content">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), class:"fs-13px") do |f| %>
        <div class="form-floating mb-15px">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control h-45px fs-13px', id: "emailAddress" %>
          <%= f.label :email, class: 'd-flex align-items-center fs-13px text-gray-600' %>
        </div>
        <div class="form-floating mb-15px">
          <%= f.password_field :password, autocomplete: "current-password", class: 'form-control h-45px fs-13px' %>
          <%= f.label :password, class: 'd-flex align-items-center fs-13px text-gray-600' %><br />
        </div>
        <% if devise_mapping.rememberable? %>
          <div class="orm-check mb-30px">
            <%= f.check_box :remember_me, class:"form-check-input" %>
            <%= f.label :remember_me, class: 'form-check-label' %>
          </div>
        <% end %>
        <div class="mb-15px">
          <%= f.submit "Ingresar", class: 'btn btn-indigo d-block h-45px w-100 btn-lg fs-14px' %>
        </div>
        <div class="mb-40px pb-40px text-dark">
          <%= render "users/shared/links" %>
        </div>
        <hr class="bg-gray-600 opacity-2" />
        <div class="text-gray-600 text-center  mb-0">
          Derechos reservados a SCOUTS  2024
        </div>
      <% end %>
    </div>
  </div>
</div>
