<div class="p-4">
  <h1 class="page-header mb-10px"><%= t '.title' %></h1>

  <%= form_with(url: assignment_users_assignments_path, method: :post) do |f| %>
    <div class="row">
      <div class="col mb-4">
        <%= f.label 'Correo Electronico', class: 'form-label' %><br />
        <%= f.text_field :email, autofocus: true, class: 'form-control form-control-lg', required: true, placeholder: 'Ingrese el correo electronico' %>
      </div>
      <div class="col mb-4">
        <div class="col-12">
          <%= f.label :rol, 'Bancos' %><br />
          <%= f.select(:rol, @list_roles.map { |list| [list.rol_name, list.id] }, 
                        {prompt: 'Selecciona un rol'}, 
                        {class:"form-select min-w-300"}) %>
        </div>
      </div>

      <div class="col-12">
        <div class="float-end">
          <%= f.submit 'Asignar' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
