<div class="p-4">
  <h1 class="page-header mb-10px"><%= t '.title' %></h1>
  <div id="users_resets">
    <% @users_resets.each do |users_reset| %>
      <% data = users_reset[0][0] %>
      <% information = data.member&.first_name + ' ' + data.member&.last_name + ' Con cedula: ' + data.member&.cedula %>
      <% confirmation = 'Confirma reiniciar? a: ' + information %>
      <%= information %> <br>
      <%= data.email %>
      <%= link_to users_reset_path(data.id), data: {
        turbo_method: :put,
        turbo_confirm: confirmation
      } do %>
        <span>Reiniciar Usuario</span>
      <% end %>
      <hr>
    <% end %>
  </div>
</div>
