<!-- BEGIN profile -->
<div class="profile">
  <div class="profile-header">
    <!-- BEGIN profile-header-cover -->
    <div class="profile-header-cover"></div>
    <!-- END profile-header-cover -->
    <!-- BEGIN profile-header-content -->
    <div class="profile-header-content">
      <!-- BEGIN profile-header-info -->
      <div class="profile-header-info">
        <h4 class="mt-0 mb-1">Unidad <%= current_user.member&.group_unit&.unit&.unit_name %></h4>
        <p class="mb-1">Grupo <%= current_user.member&.group_unit&.group&.group_name %> / Distrito <%= current_user.member&.group_unit&.group&.district&.district_name %> / Region <%= current_user.member&.group_unit&.group&.district&.region&.region_name %></p>
        <p class="mb-1">Valido <%= current_user.payment_renewal_end %></p>
      </div>
      <!-- END profile-header-info -->
    </div>
    <!-- END profile-header-content -->
  </div>
</div>
<!-- END profile -->