<!-- BEGIN #header -->
<div id="header" class="app-header">
  <!-- BEGIN navbar-header -->
  <div class="navbar-header">
    <%= link_to authenticated_root_path, class: "navbar-brand" do %>
      <span class="navbar-logo"></span>
      <span><b class="me-3px">Scouts</b> Venezuela</span>
    <% end %>
    <button type="button" class="navbar-mobile-toggler" data-toggle="app-sidebar-mobile">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <!-- END navbar-header -->
  <!-- BEGIN header-nav -->
  <div class="navbar-nav">
    <div class="navbar-item navbar-user dropdown">
      <a href="#" class="navbar-link dropdown-toggle d-flex align-items-center" data-bs-toggle="dropdown">
        <%= image_tag('user-13.jpg') %>
        <span>
          <span class="d-none d-md-inline"><%= current_user.full_name %></span>
          <b class="caret"></b>
        </span>
      </a>
      <div class="dropdown-menu dropdown-menu-end me-1">
        <%= link_to(users_profiles_path, class: "#{'active' if current_page?(users_profiles_path)} dropdown-item") do %>
          <span><%= t('.users_profiles') %></span>
        <% end %>
        <%= link_to destroy_user_session_path, data: {
          turbo_method: :delete,
          turbo_confirm: (t '.confirmation')
        }, class: "dropdown-item" do %>
          <span><%= t '.log_out' %></span>
        <% end %>
      </div>
    </div>
  </div>
  <!-- END header-nav -->
</div>
<!-- END #header -->
