<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <%= link_to members_path, class: "navbar-brand" do %>
      <span>Inicio</span>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
        </li>
      </ul>
      <div class="d-flex">
        <%= link_to destroy_user_session_path, data: {
          turbo_method: :delete,
          turbo_confirm: 'Confirmar'
        }, class: "btn btn-outline-success" do %>
          <span>Cerrar sesión</span>
        <% end %>
      </div>
    </div>
  </div>
</nav>
