<!-- BEGIN #sidebar -->
<div id="sidebar" class="app-sidebar" data-bs-theme="dark">
  <!-- BEGIN scrollbar -->
  <div class="app-sidebar-content" data-scrollbar="true" data-height="100%">
    <!-- BEGIN menu -->
    <div class="menu">
      <div class="menu-profile">
        <a href="javascript:;" class="menu-profile-link" data-toggle="app-sidebar-profile" data-target="#appSidebarProfileMenu">
          <div class="menu-profile-cover with-shadow"></div>
          <div class="menu-profile-image">
            <%= image_tag('user-13.jpg') %>
          </div>
          <div class="menu-profile-info">
            <div class="d-flex align-items-center">
              <div class="flex-grow-1">
                <%= current_user.full_name %>
              </div>
              <div class="menu-caret ms-auto"></div>
            </div>
            <small><%= current_user.member&.citizenship %> - <%= current_user.member&.cedula %></small>
          </div>
        </a>
      </div>
      <div id="appSidebarProfileMenu" class="collapse">
        <div class="menu-item pt-5px">
          <%= link_to(users_profiles_path, class: "menu-link") do %>
            <div class="menu-icon"><i class="fa fa-pencil-alt"></i></div>
            <div class="menu-text"><%= t('.users_profiles') %></div>
          <% end %>
        </div>
        <div class="menu-divider m-0"></div>
      </div>
      <div class="menu-header"><%= t '.navigation' %></div>
      <%= content_tag :div, class: "#{'active' if current_page?(authenticated_root_path)} menu-item" do %>
        <%= link_to authenticated_root_path, class: 'menu-link' do %>
          <div class="menu-icon">
            <i class="fa fa-sitemap"></i>
          </div>
          <div class="menu-text"><%= t '.dashboard' %></div>
        <% end %>
      <% end %>
      <%= content_tag :div, class: "#{'active' if current_page?(users_payments_path)} menu-item" do %>
        <% if @active_pay_date || @active_pay_date == nil %>
          <%= link_to(users_payments_path, class: 'menu-link') do %>
            <div class="menu-icon">
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </div>
            <div class="menu-text"><%= t('.users_payments') %></div>
          <% end %>
        <% end %>
      <% end %>
      <%= content_tag :div, class: "#{'active' if current_page?(checkings_users_payments_path)} menu-item" do %>
        <% if policy(%i[users payments]).checkings? %>
          <%= link_to(checkings_users_payments_path, class: 'menu-link') do %>
            <div class="menu-icon">
              <i class="fa fa-list-ol"></i>
            </div>
            <div class="menu-text"><%= t '.checkings_users_payments' %></div>
          <% end %>
        <% end %>
      <% end %>
      <%= content_tag :div, class: "#{'active' if current_page?(users_amounts_path)} menu-item" do %>
        <% if policy(%i[users amounts]).index? %>
          <%= link_to(users_amounts_path, class: "#{'active' if current_page?(users_amounts_path)} menu-link") do %>
            <div class="menu-icon">
              <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
            </div>
            <div class="menu-text"><%= t '.users_amounts' %></div>
          <% end %>
        <% end %>
      <% end %>
      <% if policy(%i[users vaccines]).medicals_nav? %>
        <% urls_medicals = current_page?(users_vaccines_path) || current_page?(users_allergies_path) || current_page?(users_diseases_path) || current_page?(users_histories_path) || current_page?(users_handicaps_path) || current_page?(users_intolerances_path) %>
        <%= content_tag :div, class: "#{'active' if urls_medicals} menu-item has-sub" do %>
          <a href="javascript:;" class="menu-link">
            <div class="menu-icon">
              <i class="fa fa-medkit"></i>
            </div>
            <div class="menu-text"><%= t('.medical') %></div>
            <div class="menu-caret"></div>
          </a>
          <div class="menu-submenu">
            <% if policy(%i[users vaccines]).index? %>
              <%= content_tag :div, class: "#{'active' if current_page?(users_vaccines_path)} menu-item" do %>
                <%= link_to(users_vaccines_path, class: "#{'active' if current_page?(users_vaccines_path)} menu-link") do %>
                  <span><%= t('.users_vaccines') %></span>
                <% end %>
              <% end %>
            <% end %>
            <% if policy(%i[users allergies]).index? %>
              <%= content_tag :div, class: "#{'active' if current_page?(users_allergies_path)} menu-item" do %>
                <%= link_to(users_allergies_path, class: "#{'active' if current_page?(users_allergies_path)} menu-link") do %>
                  <span><%= t('.users_allergies') %></span>
                <% end %>
              <% end %>
            <% end %>
            <% if policy(%i[users diseases]).index? %>
              <%= content_tag :div, class: "#{'active' if current_page?(users_diseases_path)} menu-item" do %>
                <%= link_to(users_diseases_path, class: "#{'active' if current_page?(users_diseases_path)} menu-link") do %>
                  <span><%= t('.users_diseases') %></span>
                <% end %>
              <% end %>
            <% end %>
            <% if policy(%i[users histories]).index? %>
              <%= content_tag :div, class: "#{'active' if current_page?(users_histories_path)} menu-item" do %>
                <%= link_to(users_histories_path, class: "#{'active' if current_page?(users_histories_path)} menu-link") do %>
                  <span><%= t('.users_histories') %></span>
                <% end %>
              <% end %>
            <% end %>
            <% if policy(%i[users handicaps]).index? %>
              <%= content_tag :div, class: "#{'active' if current_page?(users_handicaps_path)} menu-item" do %>
                <%= link_to(users_handicaps_path, class: "#{'active' if current_page?(users_handicaps_path)} menu-link") do %>
                  <span><%= t('.users_handicaps') %></span>
                <% end %>
              <% end %>
            <% end %>
            <% if policy(%i[users intolerances]).index? %>
              <%= content_tag :div, class: "#{'active' if current_page?(users_intolerances_path)} menu-item" do %>
                <%= link_to(users_intolerances_path, class: "#{'active' if current_page?(users_intolerances_path)} menu-link") do %>
                  <span><%= t('.users_intolerances') %></span>
                <% end %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
      <% if policy(%i[users resets]).resets_nav? %>
        <% urls_resets = current_page?(group_users_resets_path) || current_page?(district_users_resets_path) || current_page?(region_users_resets_path) %>
        <%= content_tag :div, class: "#{'active' if urls_resets} menu-item has-sub dropend" do %>
          <a href="javascript:;" class="menu-link">
            <div class="menu-icon">
              <i class="fa fa-cogs"></i>
            </div>
            <div class="menu-text"><%= t('.resets') %></div>
            <div class="menu-caret"></div>
          </a>
          <div class="menu-submenu">
            <% if policy(%i[users resets]).group? %>
              <%= content_tag :div, class: "#{'active' if current_page?(group_users_resets_path)} menu-item" do %>
                <%= link_to(group_users_resets_path, class: "#{'active' if current_page?(group_users_resets_path)} menu-link") do %>
                  <span><%= t('.group_users') %></span>
                <% end %>
              <% end %>
            <% end %>
            <% if policy(%i[users resets]).district? %>
              <%= content_tag :div, class: "#{'active' if current_page?(district_users_resets_path)} menu-item" do %>
                <%= link_to(district_users_resets_path, class: "#{'active' if current_page?(district_users_resets_path)} menu-link") do %>
                  <span><%= t('.district_users') %></span>
                <% end %>
              <% end %>
            <% end %>
            <% if policy(%i[users resets]).region? %>
              <%= content_tag :div, class: "#{'active' if current_page?(region_users_resets_path)} menu-item" do %>
                <%= link_to(region_users_resets_path, class: "#{'active' if current_page?(region_users_resets_path)} menu-link") do %>
                  <span><%= t('.region_users') %></span>
                <% end %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
      <% if policy(%i[users reports]).reports_nav? %>
        <% urls_reports = current_page?(payments_users_reports_path) || current_page?(members_users_reports_path) || current_page?(tutors_legals_users_reports_path) || current_page?(numerical_cutoff_users_reports_path) || current_page?(my_group_users_reports_path) || current_page?(my_district_users_reports_path) || current_page?(my_region_users_reports_path) %>
        <%= content_tag :div, class: "#{'active' if urls_reports} menu-item has-sub dropend" do %>
          <a href="javascript:;" class="menu-link">
            <div class="menu-icon">
              <i class="fa fa-chart-pie"></i>
            </div>
            <div class="menu-text"><%= t('.users_reports') %></div>
            <div class="menu-caret"></div>
          </a>
          <div class="menu-submenu">
            <% if policy(%i[users reports]).payments? %>
              <%= content_tag :div, class: "#{'active' if current_page?(payments_users_reports_path)} menu-item" do %>
                <%= link_to(payments_users_reports_path, class: "#{'active' if current_page?(payments_users_reports_path)} menu-link") do %>
                  <span><%= t('.reports_payment') %></span>
                <% end %>
              <% end %>
            <% end %>
            <% if policy(%i[users reports]).members? %>
              <%= content_tag :div, class: "#{'active' if current_page?(members_users_reports_path)} menu-item" do %>
                <%= link_to(members_users_reports_path, class: "#{'active' if current_page?(members_users_reports_path)} menu-link") do %>
                  <span><%= t('.reports_member') %></span>
                <% end %>
              <% end %>
            <% end %>
            <% if policy(%i[users reports]).tutors_legals? %>
              <%= content_tag :div, class: "#{'active' if current_page?(tutors_legals_users_reports_path)} menu-item" do %>
                <%= link_to(tutors_legals_users_reports_path, class: "#{'active' if current_page?(tutors_legals_users_reports_path)} menu-link") do %>
                  <span><%= t('.reports_tutor_legal') %></span>
                <% end %>
              <% end %>
            <% end %>
            <% if policy(%i[users reports]).numerical_cutoff? %>
              <%= content_tag :div, class: "#{'active' if current_page?(numerical_cutoff_users_reports_path)} menu-item" do %>
                <%= link_to(numerical_cutoff_users_reports_path, class: "#{'active' if current_page?(numerical_cutoff_users_reports_path)} menu-link") do %>
                  <span><%= t('.reports_numerical_cutoff') %></span>
                <% end %>
              <% end %>
            <% end %>
            <% if policy(%i[users reports]).my_group? %>
              <hr class="dropdown-divider">
              <%= content_tag :div, class: "#{'active' if current_page?(my_group_users_reports_path)} menu-item" do %>
                <%= link_to(my_group_users_reports_path, class: "#{'active' if current_page?(my_group_users_reports_path)} menu-link") do %>
                  <span><%= t('.my_group') %></span>
                <% end %>
              <% end %>
            <% end %>
            <% if policy(%i[users reports]).my_district? %>
              <%= content_tag :div, class: "#{'active' if current_page?(my_district_users_reports_path)} menu-item" do %>
                <%= link_to(my_district_users_reports_path, class: "#{'active' if current_page?(my_district_users_reports_path)} menu-link") do %>
                  <span><%= t('.my_district') %></span>
                <% end %>
              <% end %>
            <% end %>
            <% if policy(%i[users reports]).my_region? %>
              <%= content_tag :div, class: "#{'active' if current_page?(my_region_users_reports_path)} menu-item" do %>
                <%= link_to(my_region_users_reports_path, class: "#{'active' if current_page?(my_region_users_reports_path)} menu-link") do %>
                  <span><%= t('.my_region') %></span>
                <% end %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
      <% if policy(%i[users roles]).roles_nav? %>
        <% urls_roles = current_page?(users_roles_path) || current_page?(users_assignments_path) %>
        <%= content_tag :div, class: "#{'active' if urls_roles} menu-item has-sub dropend" do %>
          <a href="javascript:;" class="menu-link">
            <div class="menu-icon">
              <i class="fa fa-shield"></i>
            </div>
            <div class="menu-text"><%= t('.users_roles') %></div>
            <div class="menu-caret"></div>
          </a>
          <div class="menu-submenu">
            <% if policy(%i[users roles]).index? %>
              <%= content_tag :div, class: "#{'active' if current_page?(users_roles_path)} menu-item" do %>
                <%= link_to(users_roles_path, class: "#{'active' if current_page?(users_roles_path)} menu-link") do %>
                  <span><%= t('.users_roles') %></span>
                <% end %>
              <% end %>
            <% end %>
            <% if policy(%i[users assignments]).index? %>
              <%= content_tag :div, class: "#{'active' if current_page?(users_assignments_path)} menu-item" do %>
                <%= link_to(users_assignments_path, class: "#{'active' if current_page?(users_assignments_path)} menu-link") do %>
                  <span><%= t('.users_assignments') %></span>
                <% end %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
      
      <!-- BEGIN minify-button -->
      <div class="menu-item d-flex">
        <a href="javascript:;" class="app-sidebar-minify-btn ms-auto d-flex align-items-center text-decoration-none" data-toggle="app-sidebar-minify"><i class="fa fa-angle-double-left"></i></a>
      </div>
      <!-- END minify-button -->
    </div>
    <!-- END menu -->
  </div>
  <!-- END scrollbar -->
</div>
<div class="app-sidebar-bg" data-bs-theme="dark"></div>
<div class="app-sidebar-mobile-backdrop"><a href="#" data-dismiss="app-sidebar-mobile" class="stretched-link"></a></div>
<!-- END #sidebar -->
