<div class="row p-4">
  <div class="col">
    <div class="card text-center mb-3">
      <div class="card-body">
        <h5 class="card-title"><strong>Realizar el pago por el monto que le indica el sistema</strong></h5>
        <p class="card-text">Rif: J-00066665-2</p>
        <p class="card-text">Teléfono Pago Móvil: 584126025249 | Banco Bancamiga (0172)</p>
        <p class="card-text"><strong>Para la referencia de PAGO MOVIL coloque los ultimos 06 DIGITOS</strong></p>
      </div>
    </div>
    <div data-controller='payment' >
      <%= form_with(model: Payment.new, url: users_payments_path, class:"row g-3") do |f| %>
        <div class="col-12">
          <%= f.label :bank, 'Bancos' %><br />
          <%= f.select(:bank, @list_banks.map { |list| [list[1].to_s, list[0]] }, 
                        {prompt: 'Selecciona un banco'}, 
                        {class:"form-select min-w-300", data:{action: 'change->payment#changeBank'} }) %>
        </div>

        <%= f.label 'Referencia del pago movil.', class: 'form-label' %><br />
        <%= f.text_field :number_reference, maxlength: 6, autofocus: true, class: 'form-control form-control-lg', required: true, placeholder: '999999' %>
        <%= form_text_field(f, :number_movil, [], @payment, 'Telefono titular de la cuenta bancaria.') %>
  
        <fieldset disabled>
          <div class="mb-3">
            <label for="disabledTextInput" class="form-label">Monto</label>
            <% if @validate_discount %>
              <input type="text" id="disabledTextInput" class="form-control" placeholder="<%= (@amount.amount_usd - 2) * @amount.amount_exchange %>">
            <% else %>
              <input type="text" id="disabledTextInput" class="form-control" placeholder="<%= @amount.amount_usd * @amount.amount_exchange %>">
            <% end %>
          </div>
        </fieldset>

        <div class="mb-3">
          <label class="form-label">Concepto</label>
          <input class="form-control" placeholder="Pago membresia" disabled>
        </div>

        <div class="d-grid gap-2">
          <%= f.submit "Validar", class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
