<div class="row p-4">
  <div class="col">
    <div class="card text-center mb-5">
      <div class="card-body">
        <h5 class="card-title"><strong>Realizar el pago por el monto que le indica el sistema</strong></h5>
        <p class="card-text">Rif: J-00066665-2</p>
        <p class="card-text">Nro de Cuenta: 0172 0111 5111 1806 1413 | Transferencia en Bs |Banco Bancamiga</p>
        <p class="card-text">Nro de Cuenta: 0172 0111 5111 1805 3857 | Cuenta Cash |Banco Bancamiga</p>
        <!-- <p class="card-text">Si paga con descuento su monto es 652.14bs</p> -->
      </div>
    </div>
    <%= form_with(model: Payment.new, url: users_payments_path, class:"row g-3", multipart: true) do |f| %>
      <div class="col-6 my-3">
        <%= form_text_field(f, :number_reference, [], @payment, 'Referencia completa del pago.') %>
      </div>
      <div class="col-6 my-3">
        <%= f.label :date_pay, 'Fecha del pago.' %>
        <%= f.date_field :date_pay, class: "form-select" %>
      </div>
      <div class="col-6 my-3">
        <fieldset disabled>
          <label for="disabledTextInput" class="form-label">Monto</label>
          <% if @validate_discount %>
            <input type="text" id="disabledTextInput" class="form-control" placeholder="<%= (@amount.amount_usd - 2) * @amount.amount_exchange %>">
          <% else %>
            <input type="text" id="disabledTextInput" class="form-control" placeholder="<%= @amount.amount_usd * @amount.amount_exchange %>">
          <% end %>
        </fieldset>
      </div>
      <div class="col-6 my-3">
        <%= f.label :file, 'Adjuntar Imagen de tu pago', class:"form-label" %>
        <%= f.file_field :file, class: 'form-control' %>
      </div>
      <div class="d-grid gap-2">
        <%= f.submit "Enviar", class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
