<div class="p-4">
  <h1 class="page-header mb-10px"><%= t '.title' %></h1>
  <div class="row">
    <% @payments.each do |payment| %>
      <div class="col mb-5">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"><%= payment.payment_reference %></h5>
            <h6 class="card-subtitle mb-2 text-body-secondary"><%= payment.payment_mount %> Bs</h6>
            <h6 class="card-subtitle mb-2 text-body-secondary"><%= payment.payment_date %></h6>
            <%= link_to(payment.file, target: '_blank', class: 'card-text') do %>
              <span>Ver comprobante</span>
            <% end %> <br>
            <%= link_to t('.declinar'), users_payment_path(payment), class: 'card-link', data: {
              turbo_method: :delete,
              turbo_confirm: t('common.confirm')
            } %>
            <%= form_with(model: payment, url: swap_users_payments_path, method: :post) do |f| %>
              <%= f.hidden_field :payment, value: payment.id %>
              <%= f.submit "Aprobar", class: 'card-link' %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
