<div class="row p-4">
  <% @amounts.each do |amount| %>
    <div class="col">
      <div class="card text-center">
        <div class="card-header">
          <%= amount.amount_name %>
        </div>
        <div class="card-body">
          <p class="card-text"><%= get_card_show_amount(amount) %></p>
          <div class="d-grid gap-2">
            <%= link_to users_payment_path(amount), class: 'btn btn-primary' do %>
              <span>Pagar</span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
