<h1>Su solicitud ha sido <strong style="color:green">Aceptada</strong>.</h1>
<p>Hola <%= @user.email %>,</p>
<p>Notificacion de correo para informar que su pago ha sido <strong style="color:green">Aceptado</strong>.</p>
