<h1>Su solicitud ha sido <strong style="color:red">declinado</strong>.</h1>
<p>Hola <%= @user.email %>,</p>
<p>Notificacion de correo para informar que su pago ha sido <strong style="color:red">declinado</strong>.</p>
