<h1>Su solicitud se encuentra en <strong>Proceso de verificación</strong>.</h1>
<p>Hola <%= @user.email %>,</p>
<p>Notificacion de correo para informar que su pago se encuentra en <strong>Proceso de verificación</strong>.</p>
