<%= form_with(model: users_handicap, url: users_handicap.persisted? ? users_handicap_path(users_handicap) : users_handicaps_path, class: "row g-3") do |form| %>
  <% if users_handicap.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(users_handicap.errors.count, "error") %> prohibited this users_handicap from being saved:</h2>

      <ul>
        <% users_handicap.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label t('.handicaps_name'), style: "display: block" %>
    <%= form.text_field :handicaps_name %>
  </div>

  <div>
    <%= form.label t('.handicaps_status'), style: "display: block" %>
    <%= form.check_box :handicaps_status %>
  </div>

  <div>
    <%= form.submit params[:action] == "new" ? t('.create') : t('.update') %>
  </div>
<% end %>
