<tr>
  <th scope="row"><%= handicap.handicaps_name %></th>
  <th scope="row"><%= handicap.handicaps_status %></th>
  <td>
    <% if policy(%i[users handicaps]).update? %>
      <%= link_to edit_users_handicap_path(handicap) do %>
        <span><%= t '.edit' %></span>
      <% end %>
    <% end %>
  </td>
</tr>
