<tr>
  <th scope="row"><%= disease.diseases_name %></th>
  <th scope="row"><%= disease.diseases_status %></th>
  <td>
    <% if policy(%i[users diseases]).update? %>
      <%= link_to edit_users_disease_path(disease) do %>
        <span><%= t '.edit' %></span>
      <% end %>
    <% end %>
  </td>
</tr>
