<%= form_with(model: users_disease, url: users_disease.persisted? ? users_disease_path(users_disease) : users_diseases_path, class: "row g-3") do |form| %>
  <% if users_disease.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(users_disease.errors.count, "error") %> prohibited this users_disease from being saved:</h2>

      <ul>
        <% users_disease.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label t('.diseases_name'), style: "display: block" %>
    <%= form.text_field :diseases_name %>
  </div>

  <div>
    <%= form.label t('.diseases_status'), style: "display: block" %>
    <%= form.check_box :diseases_status %>
  </div>

  <div>
    <%= form.submit params[:action] == "new" ? t('.create') : t('.update') %>
  </div>
<% end %>
