<%= form_with(model: role, url: role.persisted? ? users_role_path(role) : users_roles_path, class: "row g-3") do |f| %>
  <% @role.errors.full_messages.each do |error| %>
    <div>
      <%= error %>
    </div>
  <% end %>

  <div class="col-6 my-3">
    <%= f.label :rol_name, class: 'form-label' %><br />
    <%= f.text_field :rol_name, class: 'form-control form-control-lg', required: true %>
  </div>

  <div class="col-6 my-3">
    <%= f.label :description, class: 'form-label' %><br />
    <%= f.text_field :description, class: 'form-control form-control-lg', required: true %>
  </div>

  <div class="col-12 my-3">
    <%= f.label :permission_ids, nil, class: 'form-label' %>
    <div class="row">
      <%= f.collection_check_boxes(:permission_ids, policy_scope([:users, Permission]).order(:permission_name).all, :id, :name_with_description, { class: 'form-check-input' }) do |b| %>
        <div class="col-6 form-check">
          <%= b.check_box(class: 'form-check-input') %>
          <%= b.label(class: 'form-check-label') %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="col-12 my-3">
    <%= link_to t('.cancel'), users_roles_path, class: 'btn btn-secondary' %>
    <% if role.new_record? %>
      <%= f.submit t('.create'), class: 'btn btn-primary' %>
    <% else %>
      <%= f.submit t('.update'), class: 'btn btn-primary' %>
    <% end %>
  </div>
<% end %>
