<tr>
  <th scope="row"><%= role.rol_name %></th>
  <td><%= role.description %></td>
  <td>
    <% role.permissions.order(permission_name: :asc).each_with_index do |permission, i| %>
      <% if i > 0 %><br><% end %>
      <%= permission.permission_name %>
    <% end %>
  </td>
  <td>
    <% if policy(%i[users roles]).update? %>
      <% unless role.rol_name == 'User' %>
        <%= link_to edit_users_role_path(role) do %>
          <span><%= t '.edit' %></span>
        <% end unless role.can_any? :superadmin %>
      <% end %>
    <% end %>
  </td>
  <td>
    <% if policy(%i[users roles]).destroy? %>
      <% unless role.rol_name == 'User' %>
        <%= link_to users_role_path(role), data: {
          turbo_method: :delete,
          turbo_confirm: t('.confirm_destroy')
        } do %>
          <span><%= t '.destroy' %></span>
        <% end unless role.can_any? :superadmin %>
      <% end %>
    <% end %>
  </td>
</tr>
