<%= form_with(model: users_medical_file, url: users_medical_file.persisted? ? users_medical_file_path(users_medical_file) : users_medical_files_path, local: true, class: "g-3") do |form| %>
  <% if users_medical_file.errors.any? %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <h2><%= pluralize(users_medical_file.errors.count, "error") %> prohibited this medical file from being saved:</h2>
      <ul>
        <% users_medical_file.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>

  <section id="basic" class="mt-20px mb-30px">
    <h6 class="media-heading">DATOS BÁSICOS</h6>
    <div class="row">
      <div class="col-md-2">
        <div class="form-group mb-10px">
          <%= form.label :blood_type, style: "display: block" %>
          <%= form.text_field :blood_type, class: "form-control form-control-lg", required: true %>
        </div>
      </div>
      <div class="col-md-5">
        <div class="form-group mb-10px">
          <%= form.label :emergency_first_name, style: "display: block" %>
          <%= form.text_field :emergency_first_name, class: "form-control form-control-lg", pattern: "[a-zA-Z]+", title: t('errors.messages.title_text'), required: true %>
        </div>
      </div>
      <div class="col-md-5">
        <div class="form-group mb-10px">
          <%= form.label :insurance_name, style: "display: block" %>
          <%= form.text_field :insurance_name, class: "form-control form-control-lg", pattern: "[a-zA-Z]+", title: t('errors.messages.title_text'), required: true %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <div class="form-group mb-10px">
          <%= form.label :height, style: "display: block" %>
          <%= form.text_field :height, class: "form-control form-control-lg", maxlength: 3, title: t('errors.messages.three_digits_max'), required: true %>
        </div>
      </div>
      <div class="col-md-5">
        <div class="form-group mb-10px">
          <%= form.label :emergency_last_name, style: "display: block" %>
          <%= form.text_field :emergency_last_name, class: "form-control form-control-lg", pattern: "[a-zA-Z]+", title: t('errors.messages.title_text'), required: true %>
        </div>
      </div>
      <div class="col-md-5">
        <div class="form-group mb-10px">
          <%= form.label :insurance_number, style: "display: block" %>
          <%= form.text_field :insurance_number, class: "form-control form-control-lg", title: t('errors.messages.only_numbers') %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <div class="form-group mb-10px">
          <%= form.label :weight, style: "display: block" %>
          <%= form.text_field :weight, class: "form-control form-control-lg", required: true %>
        </div>
      </div>
      <div class="col-md-5">
        <div class="form-group mb-10px">
          <%= form.label :emergency_number, style: "display: block" %>
          <%= form.text_field :emergency_number, class: "form-control form-control-lg", title: t('errors.messages.only_numbers'), required: true %>
        </div>
      </div>
    </div>
  </section>

  <div class="row">
    <% if @vaccines_member.present? %>
      <div class="col">
        <h6 class="media-heading">VACUNAS</h6>
        <div class="row">
          <% @vaccines_member.each_with_index do |vaccine_member, index| %>
            <div class="my-2">
              <div class="mx-3">
                <label class="form-label"><%= vaccine_member&.vaccine&.vaccine_name %></label><br>
                <% if vaccine_member.vaccine_m_status == false %>
                  <div class="form-check form-check-inline">
                    <%= form.radio_button "medical_file[vaccine_responses][#{vaccine_member.vaccine.id}]", "no", class: 'form-check-input', id: "vaccine_no_#{index}", checked: true %>
                    <label class="form-check-label" for="vaccine_no_#{index}">NO</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <%= form.radio_button "medical_file[vaccine_responses][#{vaccine_member.vaccine.id}]", "yes", class: 'form-check-input', id: "vaccine_yes_#{index}" %>
                    <label class="form-check-label" for="vaccine_yes_#{index}">SI</label>
                  </div>
                <% else %>
                  <div class="form-check form-check-inline">
                    <%= form.radio_button "medical_file[vaccine_responses][#{vaccine_member.vaccine.id}]", "no", class: 'form-check-input', id: "vaccine_no_#{index}" %>
                    <label class="form-check-label" for="vaccine_no_#{index}">NO</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <%= form.radio_button "medical_file[vaccine_responses][#{vaccine_member.vaccine.id}]", "yes", class: 'form-check-input', id: "vaccine_yes_#{index}", checked: true %>
                    <label class="form-check-label" for="vaccine_yes_#{index}">SI</label>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
    <% if @allergies_member.present? %>
      <div class="col">
        <h6 class="media-heading">ALERGIAS</h6>
        <div class="row">
          <% @allergies_member.each_with_index do |allergy_member, index| %>
            <div class="my-2">
              <div class="mx-3">
                <label class="form-label"><%= allergy_member&.allergy&.allergies_name %></label><br>
                <% if allergy_member.allergy_m_status == false %>
                  <div class="form-check form-check-inline">
                    <%= form.radio_button "medical_file[allergy_responses][#{allergy_member.allergy.id}]", "no", class: 'form-check-input', id: "allergy_no_#{index}", checked: true %>
                    <label class="form-check-label" for="allergy_no_#{index}">NO</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <%= form.radio_button "medical_file[allergy_responses][#{allergy_member.allergy.id}]", "yes", class: 'form-check-input', id: "allergy_yes_#{index}" %>
                    <label class="form-check-label" for="allergy_yes_#{index}">SI</label>
                  </div>
                <% else %>
                  <div class="form-check form-check-inline">
                    <%= form.radio_button "medical_file[allergy_responses][#{allergy_member.allergy.id}]", "no", class: 'form-check-input', id: "allergy_no_#{index}" %>
                    <label class="form-check-label" for="allergy_no_#{index}">NO</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <%= form.radio_button "medical_file[allergy_responses][#{allergy_member.allergy.id}]", "yes", class: 'form-check-input', id: "allergy_yes_#{index}", checked: true %>
                    <label class="form-check-label" for="allergy_yes_#{index}">SI</label>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
    <% if @diseases_member.present? %>
      <div class="col">
        <h6 class="media-heading">ANTECEDENTES PSICOLÓGICOS/PSIQUIÁTRICOS</h6>
        <div class="row">
          <% @diseases_member.each_with_index do |disease_member, index| %>
            <div class="my-2">
              <div class="mx-3">
                <label class="form-label"><%= disease_member&.disease&.diseases_name %></label><br>
                <% if disease_member.disease_m_status == false %>
                  <div class="form-check form-check-inline">
                    <%= form.radio_button "medical_file[disease_responses][#{disease_member.disease.id}]", "no", class: 'form-check-input', id: "disease_no_#{index}", checked: true %>
                    <label class="form-check-label" for="disease_no_#{index}">NO</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <%= form.radio_button "medical_file[disease_responses][#{disease_member.disease.id}]", "yes", class: 'form-check-input', id: "disease_yes_#{index}" %>
                    <label class="form-check-label" for="disease_yes_#{index}">SI</label>
                  </div>
                <% else %>
                  <div class="form-check form-check-inline">
                    <%= form.radio_button "medical_file[disease_responses][#{disease_member.disease.id}]", "no", class: 'form-check-input', id: "disease_no_#{index}" %>
                    <label class="form-check-label" for="disease_no_#{index}">NO</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <%= form.radio_button "medical_file[disease_responses][#{disease_member.disease.id}]", "yes", class: 'form-check-input', id: "disease_yes_#{index}", checked: true %>
                    <label class="form-check-label" for="disease_yes_#{index}">SI</label>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
    <% if @histories_member.present? %>
      <div class="col">
        <h6 class="media-heading">ANTECEDENTES MÉDICOS</h6>
        <div class="row">
          <% @histories_member.each_with_index do |history_member, index| %>
            <div class="my-2">
              <div class="mx-3">
                <label class="form-label"><%= history_member&.history&.histories_name %></label><br>
                <% if history_member.history_m_status == false %>
                  <div class="form-check form-check-inline">
                    <%= form.radio_button "medical_file[history_responses][#{history_member.history.id}]", "no", class: 'form-check-input', id: "history_no_#{index}", checked: true %>
                    <label class="form-check-label" for="history_no_#{index}">NO</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <%= form.radio_button "medical_file[history_responses][#{history_member.history.id}]", "yes", class: 'form-check-input', id: "history_yes_#{index}" %>
                    <label class="form-check-label" for="history_yes_#{index}">SI</label>
                  </div>
                <% else %>
                  <div class="form-check form-check-inline">
                    <%= form.radio_button "medical_file[history_responses][#{history_member.history.id}]", "no", class: 'form-check-input', id: "history_no_#{index}" %>
                    <label class="form-check-label" for="history_no_#{index}">NO</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <%= form.radio_button "medical_file[history_responses][#{history_member.history.id}]", "yes", class: 'form-check-input', id: "history_yes_#{index}", checked: true %>
                    <label class="form-check-label" for="history_yes_#{index}">SI</label>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
    <% if @handicaps_member.present? %>
      <div class="col">
        <h6 class="media-heading">DISCAPACIDADES</h6>
        <div class="row">
          <% @handicaps_member.each_with_index do |handicap_member, index| %>
            <div class="my-2">
              <div class="mx-3">
                <label class="form-label"><%= handicap_member&.handicap&.handicaps_name %></label><br>
                <% if handicap_member.handicap_m_status == false %>
                  <div class="form-check form-check-inline">
                    <%= form.radio_button "medical_file[handicap_responses][#{handicap_member.handicap.id}]", "no", class: 'form-check-input', id: "handicap_no_#{index}", checked: true %>
                    <label class="form-check-label" for="handicap_no_#{index}">NO</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <%= form.radio_button "medical_file[handicap_responses][#{handicap_member.handicap.id}]", "yes", class: 'form-check-input', id: "handicap_yes_#{index}" %>
                    <label class="form-check-label" for="handicap_yes_#{index}">SI</label>
                  </div>
                <% else %>
                  <div class="form-check form-check-inline">
                    <%= form.radio_button "medical_file[handicap_responses][#{handicap_member.handicap.id}]", "no", class: 'form-check-input', id: "handicap_no_#{index}" %>
                    <label class="form-check-label" for="handicap_no_#{index}">NO</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <%= form.radio_button "medical_file[handicap_responses][#{handicap_member.handicap.id}]", "yes", class: 'form-check-input', id: "handicap_yes_#{index}", checked: true %>
                    <label class="form-check-label" for="handicap_yes_#{index}">SI</label>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
    <% if @intolerances_member.present? %>
      <div class="col">
        <h6 class="media-heading">INTOLERANCIAS</h6>
        <div class="row">
          <% @intolerances_member.each_with_index do |intolerance_member, index| %>
            <div class="my-2">
              <div class="mx-3">
                <label class="form-label"><%= intolerance_member&.intolerance&.intolerances_name %></label><br>
                <% if intolerance_member.intolerance_m_status == false %>
                  <div class="form-check form-check-inline">
                    <%= form.radio_button "medical_file[intolerance_responses][#{intolerance_member.intolerance.id}]", "no", class: 'form-check-input', id: "intolerance_no_#{index}", checked: true %>
                    <label class="form-check-label" for="intolerance_no_#{index}">NO</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <%= form.radio_button "medical_file[intolerance_responses][#{intolerance_member.intolerance.id}]", "yes", class: 'form-check-input', id: "intolerance_yes_#{index}" %>
                    <label class="form-check-label" for="intolerance_yes_#{index}">SI</label>
                  </div>
                <% else %>
                  <div class="form-check form-check-inline">
                    <%= form.radio_button "medical_file[intolerance_responses][#{intolerance_member.intolerance.id}]", "no", class: 'form-check-input', id: "intolerance_no_#{index}" %>
                    <label class="form-check-label" for="intolerance_no_#{index}">NO</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <%= form.radio_button "medical_file[intolerance_responses][#{intolerance_member.intolerance.id}]", "yes", class: 'form-check-input', id: "intolerance_yes_#{index}", checked: true %>
                    <label class="form-check-label" for="intolerance_yes_#{index}">SI</label>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <section class="mt-20px">
    <div class="row">
      <div class="col">
        <%= form.submit params[:action] == "new" ? t('.create') : t('.update'), class: "btn btn-success w-100 font-bold" %>
      </div>
    </div>
  </section>
<% end %>
