<%= form_with(model: users_intolerance, url: users_intolerance.persisted? ? users_intolerance_path(users_intolerance) : users_intolerances_path, class: "row g-3") do |form| %>
  <% if users_intolerance.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(users_intolerance.errors.count, "error") %> prohibited this users_intolerance from being saved:</h2>

      <ul>
        <% users_intolerance.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label t('.intolerances_name'), style: "display: block" %>
    <%= form.text_field :intolerances_name %>
  </div>

  <div>
    <%= form.label t('.intolerances_status'), style: "display: block" %>
    <%= form.check_box :intolerances_status %>
  </div>

  <div>
    <%= form.submit params[:action] == "new" ? t('.create') : t('.update') %>
  </div>
<% end %>
