<tr>
  <th scope="row"><%= intolerance.intolerances_name %></th>
  <th scope="row"><%= intolerance.intolerances_status %></th>
  <td>
    <% if policy(%i[users intolerances]).update? %>
      <%= link_to edit_users_intolerance_path(intolerance) do %>
        <span><%= t '.edit' %></span>
      <% end %>
    <% end %>
  </td>
</tr>
