<%= form_with(model: users_vaccine, url: users_vaccine.persisted? ? users_vaccine_path(users_vaccine) : users_vaccines_path, class: "row g-3") do |form| %>
  <% if users_vaccine.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(users_vaccine.errors.count, "error") %> prohibited this users_vaccine from being saved:</h2>

      <ul>
        <% users_vaccine.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label t('.vaccine_name'), style: "display: block" %>
    <%= form.text_field :vaccine_name %>
  </div>

  <div>
    <%= form.label t('.vaccine_status'), style: "display: block" %>
    <%= form.check_box :vaccine_status %>
  </div>

  <div>
    <%= form.submit params[:action] == "new" ? t('.create') : t('.update') %>
  </div>
<% end %>
