<tr>
  <th scope="row"><%= vaccine.vaccine_name %></th>
  <th scope="row"><%= vaccine.vaccine_status %></th>
  <td>
    <% if policy(%i[users vaccines]).update? %>
      <%= link_to edit_users_vaccine_path(vaccine) do %>
        <span><%= t '.edit' %></span>
      <% end %>
    <% end %>
  </td>
</tr>
