<div id="app" class="app">
  <div class="register register-with-news-feed">
    <div class="news-feed">
      <div class="news-image" style="background-image: url(../assets/img/login-bg/login-bg-15.jpg)"></div>
      <div class="news-caption">
        <h4 class="caption-title"><b>Scouts</b> Venezuela</h4>
        <p>
          Construyendo un mundo mejor.
        </p>
      </div>
    </div>
    <div class="register-container">
      <div class="register-header mb-25px h1">
        <div class="mb-1">Cambiar clave</div>
        <small class="d-block fs-15px lh-16">Ingresa tu nueva clave</small>
      </div>
      <div class="register-content">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }, class: 'fs-13px') do |f| %>
          <%= render "users/shared/error_messages", resource: resource %>
          <%= f.hidden_field :reset_password_token %>
          <div class="mb-3">
            <%= f.label :password, "Nueva clave", class: 'mb-2' %><br />
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> caracteres minimo)</em><br />
            <% end %>
            <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: 'form-control fs-13px' %>
          </div>
          <div class="mb-3">
            <%= f.label :password_confirmation, "Confirmar nueva clave", class: 'mb-2' %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control fs-13px' %>
          </div>
          <div class="actions">
            <%= f.submit "Cambiar clave", class: 'btn btn-indigo d-block w-100 btn-lg h-45px fs-13px' %>
          </div>
        <% end %>
        <br>
        <%= render "users/shared/links" %>
      </div>
    </div>
  </div>
