<div id="app" class="app">
  <div class="register register-with-news-feed">
    <div class="news-feed">
      <div class="news-image" style="background-image: url(../assets/img/login-bg/login-bg-15.jpg)"></div>
      <div class="news-caption">
        <h4 class="caption-title"><b>Scouts</b> Venezuela</h4>
        <p>
        Construyendo un mundo mejor.
        </p>
      </div>
    </div>
    <div class="register-container">
      <div class="register-header mb-25px h1">
        <div class="mb-1">¿Olvidaste tu clave?</div>
        <small class="d-block fs-15px lh-16">Ingresa tu correo registrado, para que te enviemos un link de recuperacion</small>
      </div>
      <div class="register-content">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }, class: 'fs-13px') do |f| %>
          <%= render "users/shared/error_messages", resource: resource %>
          <div class="field mb-4">
            <%= f.label :email, class: 'mb-2' %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control fs-13px' %>
          </div>
          <div class="actions">
            <%= f.submit "Enviar reset", class: 'btn btn-indigo d-block w-100 btn-lg h-45px fs-13px' %>
          </div>
        <% end %>
        <br>
        <%= render "users/shared/links" %>
      </div>
    </div>
  </div>
