<div class="p-4">
  <h1 class="page-header mb-10px"><%= t '.title' %></h1>

  <%= form_with(model: @report, url: reports_by_members_users_reports_path(format: :xlsx), method: :get, data: { turbo: false }) do |f| %>
    <div class="row">
      <div class="col mb-4">
        <%= f.label :status_user, 'Estatus de usuario:', class: 'form-label' %><br />
        <%= f.select(:status_user, User.statuses.map { |us| [us[0], us[1]] }, 
                          {prompt: 'Selecciona una opción'},
                          {class:"form-select min-w-300"}) %>
      </div>
      <div class="col mb-4">
        <%= f.label :is_adult, 'Adulto/Joven:', class: 'form-label' %><br />
        <%= f.select(:is_adult, Member.is_adults.map { |mia| [mia[0], mia[1]] }, 
                          {prompt: 'Selecciona una opción'},
                          {class:"form-select min-w-300"}) %>
      </div>
      <div class="col mb-4">
        <%= f.label :member_type, 'Tipo de miembro:', class: 'form-label' %><br />
        <%= f.select(:member_type, Member.member_types.map { |mmt| [mmt[0], mmt[1]] }, 
                          {prompt: 'Selecciona una opción'},
                          {class:"form-select min-w-300"}) %>
      </div>
      <div class="col-12">
        <div class="float-end">
          <%= f.submit 'Descargar' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
