<div class="p-4">
  <h1 class="page-header mb-10px"><%= t '.title' %></h1>

  <%= form_with(model: @report, url: reports_by_payments_users_reports_path(format: :xlsx), method: :get, data: { turbo: false }) do |f| %>
    <div class="row">
      <div class="col mb-4">
        <%= f.label :payment_status, 'Estatus de reporte:', class: 'form-label' %><br />
        <%= f.select(:payment_status, Payment.payment_statuses.map { |ps| [ps[0], ps[1]] }, 
                          {prompt: 'Selecciona una opción'},
                          {class:"form-select min-w-300"}) %>
      </div>
      <div class="col field form-outline mb-4">
        <%= f.label :filter_date_from, 'Fecha desde', class: 'form-label' %>
        <%= f.date_field :filter_date_from, value: h_value(@report, :filter_date_from), class: 'form-control' %>
        <%= warning_message(@report, :filter_date_from) %>
      </div>
      <div class="col field form-outline mb-4">
        <%= f.label :filter_date_to, 'Fecha hasta', class: 'form-label' %>
        <%= f.date_field :filter_date_to, value: h_value(@report, :filter_date_to), class: 'form-control' %>
        <%= warning_message(@report, :filter_date_to) %>
      </div>
      <div class="col-12">
        <div class="float-end">
          <%= f.submit 'Descargar' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
