<div class="p-4">
  <h1 class="page-header mb-10px"><%= t '.title' %></h1>

  <%= form_with(model: @report, url: reports_by_tutors_legals_users_reports_path(format: :xlsx), method: :get, data: { turbo: false }) do |f| %>
    <div class="row">
      <div class="col-12">
        <div class="float-end">
          <%= f.submit 'Descargar' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
