<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Impeesa - Scouts Venezuela</title>
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
  <meta content="" name="description" />
  <meta content="" name="author" />

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload" %>

  <!-- ================== BEGIN core-css ================== -->
  <link href="css/vendor.min.css" rel="stylesheet" />
  <link href="css/default/app.min.css" rel="stylesheet" />
  <!-- ================== END core-css ================== -->
</head>
<body>
  <!-- BEGIN #app -->
  <div id="app" class="app app-header-fixed app-sidebar-fixed">
    <%= render 'shared/toast' %>
    <div data-controller='container'>
      <% if user_signed_in? %>
        <% if current_user.completeness >= 100 %>
          <%= render 'shared/header' %>
          <%= render 'shared/sidebar' %>
        <% else %>
          <%= render 'shared/nav_not_completeness' %>
        <% end %>
      <% end %>
      <%= content_tag :div, id: "content", class: "p-0 app-content" do %>
        <% if user_signed_in? %>
          <%= render 'shared/begin_profile' %>
        <% end %>
        <%= yield %>
      <% end %>
    </div>
  </div>
  <!-- END #app -->

  <!-- ================== BEGIN CDN jquery 3.7.1 ================== -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- ================== END CDN jquery 3.7.1 ================== -->

  <!-- ================== BEGIN CDN jquery-ui 1.13.3 ================== -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.3/jquery-ui.min.js" integrity="sha512-Ww1y9OuQ2kehgVWSD/3nhgfrb424O3802QYP/A5gPXoM4+rRjiKrjHdGxQKrMGQykmsJ/86oGdHszfcVgUr4hA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- ================== END CDN jquery-ui 1.13.3 ================== -->

  <!-- ================== BEGIN core-js ================== -->
  <script src="js/vendor.min.js"></script>
  <script src="js/app.min.js"></script>
  <!-- ================== END core-js ================== -->

  <!-- ================== BEGIN page-js ================== -->
  <script src="plugins/masonry-layout/dist/masonry.pkgd.min.js"></script>
  <!-- ================== END page-js ================== -->

</body>
</html>
