<div class="field form-outline mb-4">
  <%= f.label :date_admission, 'Fecha de Ingreso', class: 'form-label' %>
  <%= f.date_field :date_admission, value: h_value(@member, :date_admission), class: 'form-control' %>
  <%= warning_message(@member, :date_admission) %>
</div>
<div class="field form-outline mb-4">
  <%= f.label :date_promise, 'Fecha de Promesa', class: 'form-label' %>
  <%= f.date_field :date_promise, value: h_value(@member, :date_promise), class: 'form-control' %>
  <%= warning_message(@member, :date_promise) %>
</div>
