<%= login_style('Datos', 'Ingresa tu informacion', 'hide' ) do %>
  <%= form_with(model: member) do |f| %>
    <div data-controller='region' >
      <%= f.hidden_field :cedula, value: session[:cedula] if member[:cedula].nil? || member[:cedula] == '' || !member.valid? %>
      <%= form_text_field(f, :first_name, h_value(member, :first_name), @member, 'Primer nombre') %>
      <%= form_text_field(f, :middle_name, h_value(member, :middle_name), @member, 'Segundo nombre') %>
      <%= form_text_field(f, :last_name, h_value(member, :last_name), @member, 'Primer Apellido') %>
      <%= form_text_field(f, :second_surname, h_value(member, :second_surname), @member, 'Segundo Apellido') %>

      <div class="field form-outline mb-4">
        <%= f.label :birthdate, 'Fecha de Nacimiento', class: 'form-label' %>
        <%= f.date_field :birthdate, value: h_value(member, :birthdate), class: 'form-control' %>
        <%= warning_message(@member, :birthdate) %>
      </div>

      <div class="field form-outline mb-4">
        <%= f.label :gender, 'Género', class: 'form-label' %>
        <%= f.select :gender, ['Femenino', 'Masculino'], 
          {selected: h_value(member, :gender)}, class: "form-select min-w-300" %>
        <%= warning_message(@member, :gender) %>
      </div>

      <div class="field form-outline mb-4">
        <%= f.label :citizenship, 'Nacionalidad', class: 'form-label' %>
        <%= f.select :citizenship, Country.all.where(archived: false).pluck(:country_name, :id), 
          {selected: h_value(member, :citizenship)}, class: "form-select min-w-300" %>
        <%= warning_message(@member, :citizenship) %>
      </div>

      <div class="field form-outline mb-4">
        <%= f.label :state, 'Estado' %><br />
        <%= f.select(:state_id, @states.map { |ss| [ss.state_name.to_s, ss.id] }, 
                      {prompt: 'Selecciona un estado'},
                      {class:"form-select min-w-300", data:{action: 'change->region#changeState'} }) %>
      </div>

      <div class="field form-outline mb-4">
        <%= f.label :province, 'Municipio' %><br />
        <%= f.select(:province_id, @provinces.present? ? @provinces.map { |province| [province.province_name, province.id] } : [],
              { prompt: 'Selecciona un Municipio' },
              { class: "form-select min-w-300", data: { action: 'change->region#changeProvince', region_target: 'provinceSelect' }} ) %>
      </div>

      <div class="field form-outline mb-4">
        <%= f.label :parish, 'Parroquia' %><br />
        <%= f.select(:parish_id, @parishes.present? ? @parishes.map { |parish| [parish.parish_name, parish.id] } : [], {prompt: 'Selecciona una parroquia'}, {class:"form-select min-w-300", 
                      data: {action: 'change->region#changeParish', region_target: 'parishSelect'}} ) %>
      </div>

      <%= form_text_field(f, :address, h_value(member, :address), @member, 'Completa dirección') %>
      <%= form_text_field(f, :ocupation, h_value(member, :ocupation), @member, 'Ocupación') %>
      <%= form_text_field(f, :ocupation_place, h_value(member, :work_place), @member, 'Lugar de trabajo o estudio') %>

      <div class="field form-outline mb-4">
        <div class="form-check form-check-inline">
          <%= f.label :ocupation_type, 'Publico', class: 'form-check-label mr-2' %>
          <%= f.radio_button :ocupation_type, :publico, class: 'form-check-input', checked: true %>
        </div>

        <div class="form-check form-check-inline">
          <%= f.label :ocupation_type, 'Privado', class: 'form-check-label mr-2' %>
          <%= f.radio_button :ocupation_type, :privado, class: 'form-check-input' %>
        </div>
      </div>

      <%= form_text_field(f, :phone, h_value(member, :phone), @member, 'Número de teléfono') %>

      <div class="field form-outline mb-4">
        <%= f.label :level_education, 'Nivel de Educación', class: 'form-label' %>
        <%= f.select :level_education, ['Primaria', 'Secundaria', 'Superior'], 
          {selected: h_value(member, :level_education)}, class: "form-select min-w-300" %>
        <%= warning_message(@member, :level_education) %>
      </div>

      <div class="field form-outline mb-4">
        <%= f.label :religion_id, 'Religión', class: 'form-label' %>
        <%= f.select :religion_id, Religion.all.where(archived: true).pluck(:religion_name, :id),
          {selected: h_value(member, :religion_id)}, class: "form-select min-w-300" %>
        <%= warning_message(@member, :religion_id) %>
      </div>

      <div class="field form-outline mb-4">
        <div class="form-check form-check-inline">
          <%= f.label :member_type, 'Grupo', class: 'form-check-label mr-2' %>
          <%= f.radio_button :member_type, :grupo, class: 'form-check-input', checked: true %>
        </div>

        <div class="form-check form-check-inline">
          <%= f.label :member_type, 'Dualidad', class: 'form-check-label mr-2' %>
          <%= f.radio_button :member_type, :dualidad, class: 'form-check-input' %>
        </div>

        <div class="form-check form-check-inline">
          <%= f.label :member_type, 'Institucional', class: 'form-check-label mr-2' %>
          <%= f.radio_button :member_type, :institucional, class: 'form-check-input' %>
        </div>
      </div>

      <div class="field form-outline mb-4">
        <div class="form-check form-check-inline">
          <%= f.label :is_adult, 'Adulto', class: 'form-check-label mr-2' %>
          <%= f.radio_button :is_adult, :adult, class: 'form-check-input', checked: true %>
        </div>
        <div class="form-check form-check-inline">
          <%= f.label :is_adult, 'Joven', class: 'form-check-label mr-2' %>
          <%= f.radio_button :is_adult, :youth, class: 'form-check-input' %>
        </div>
      </div>

      <%= form_text_field(f, :second_email, h_value(member, :second_email), @member, 'Correo electrónico secundario') %>

      <div class="actions d-flex justify-content-center">
        <%= f.submit member[:first_name].nil? || member[:first_name] == '' || !member.valid? ? 'Registrar' : 'Actualizar', class: 'btn btn-primary btn-lg btn-block' %>
      </div>
    </div>
  <% end %>
<% end %>
