<%= login_style('Grupo', 'Informacion del grupo', 'hide' ) do%>
  <h3>Bienvenido <%= info_user.first_name %></h3>
  <h4>Tu grupo es: <%= info_user.group_unit.group.group_name %> </h4>
  <%= link_to 'Continuar', members_datos_path, class: "btn btn-primary btn-lg btn-block" %>
<% end %>
