<%= login_style('', '', 'hide' ) do%>
  <%= form_with(model: @member, url: members_group_youth_submit_path) do |f| %>
    <div data-controller='region' >
      <div class="field form-outline mb-4">
        <%= f.label :region, 'Región' %><br />
        <%= f.select(:region, @regions.map { |r| [r.region_name.to_s, r.id] }, 
                      {prompt: 'Selecciona una region'}, 
                      {class:"form-select min-w-300", data:{action: 'change->region#changeRegion'} }) %>
      </div>
      <div class="field form-outline mb-4">
        <%= f.label :district, 'Distrito' %><br />
        <%= f.select(:district, @districts.present? ? @districts.map { |district| [district.district_name, district.id] } : [], {prompt: 'Selecciona un distrito'}, {class:"form-select min-w-300", 
                      data: {action: 'change->region#changeDistrict', region_target: 'districtSelect'}} ) %>
      </div>
      <div class="field form-outline mb-4">
        <%= f.label :group, 'Grupo' %><br />
        <%= f.select(:group, @group_units.present? ? @group_units.map { |group_unit| [group_unit.group_names, group_unit.id] } : [], {prompt: 'Selecciona un grupo'}, {class:"form-select min-w-300", 
                      data: {action: 'change->region#changeGroup', region_target: 'groupSelect'}} ) %>
      </div>
      <div class="field form-outline mb-4">
        <%= f.label :unit, 'Unidades' %><br />
        <%= f.select(:unit_id, @units.present? ? @units.map { |unit| [unit.unit_name, unit.id] } : [], {prompt: 'Selecciona una unidad'}, {class:"form-select min-w-300", 
                      data: {action: 'change->region#changeUnit', region_target: 'unitSelect'}} ) %>
      </div>
      <div class="field form-outline mb-4">
        <%= f.label :advance, 'Adelantos' %><br />
        <%= f.select(:advance, @advances.present? ? @advances.map { |advance| [advance.advance_name, @advances.id] } : [], {prompt: 'Selecciona un adelanto'}, {class:"form-select min-w-300", 
                      data: {action: 'change->region#changeAdvance', region_target: 'advanceSelect'}} ) %>
      </div>

      <%= render(partial: 'dates_form', locals:{f: f}) %>
      <div class="actions d-flex justify-content-center">
        <%= f.submit "Siguiente", class: 'btn btn-primary btn-lg btn-block' %>
      </div>
    </div>
  <% end %>
<% end %>
