<%= login_style('Cedula', 'Busca tu cedula', 'hide' ) do%>
  <%= form_with(model: @member, url: members_verificate_path, data: {controller: 'validations'}) do |f| %>
    <div class="field form-outline mb-4">
      <%= f.label :cedula, class: 'form-label' %><br />
      <%= f.text_field :cedula, autofocus: true, class: 'form-control form-control-lg', 
      required: true, data: { action: 'input->validations#filterNumeric', validations_target: 'cedulaField' } %>
      <div data-validations-target="errorMessage" style="color: red;"></div>
    </div>
    <div class="actions d-flex justify-content-center">
      <%= f.submit "Validar", class: 'btn btn-primary btn-lg btn-block', data: { action: 'click->validations#cedula'} %>
    </div>
  <% end %>
<% end %>
