<%= login_style('Datos', 'Representante legal', 'hide' ) do %>
  <%= form_with(model: @legal_tutor, url: members_legal_tutor_submit_path, method: :post) do |f| %>
    <div data-controller='region' >
      <%= form_text_field(f, :cedula, h_value(@legal_tutor, :cedula), @legal_tutor, 'Cedúla') %>
      <%= form_text_field(f, :first_name, h_value(@legal_tutor, :first_name), @legal_tutor, 'Primer nombre') %>
      <%= form_text_field(f, :middle_name, h_value(@legal_tutor, :middle_name), @legal_tutor, 'Segundo nombre') %>
      <%= form_text_field(f, :last_name, h_value(@legal_tutor, :last_name), @legal_tutor, 'Primer Apellido') %>
      <%= form_text_field(f, :second_surname, h_value(@legal_tutor, :second_surname), @legal_tutor, 'Segundo Apellido') %>

      <div class="field form-outline mb-4">
        <%= f.label :birthdate, 'Fecha de Nacimiento', class: 'form-label' %>
        <%= f.date_field :birthdate, value: h_value(@legal_tutor, :birthdate), class: 'form-control' %>
        <%= warning_message(@legal_tutor, :birthdate) %>
      </div>

      <div class="field form-outline mb-4">
        <%= f.label :gender, 'Género', class: 'form-label' %>
        <%= f.select :gender, ['Femenino', 'Masculino'], 
          {selected: h_value(@legal_tutor, :gender)}, class: "form-select min-w-300" %>
        <%= warning_message(@legal_tutor, :gender) %>
      </div>

      <div class="field form-outline mb-4">
        <%= f.label :citizenship, 'Nacionalidad', class: 'form-label' %>
        <%= f.select :citizenship, Country.all.where(country_default: true, archived: false).pluck(:country_name, :id), 
          {selected: h_value(@legal_tutor, :citizenship)}, class: "form-select min-w-300" %>
        <%= warning_message(@legal_tutor, :citizenship) %>
      </div>

      <div class="field form-outline mb-4">
        <%= f.label :state, 'Estado' %><br />
        <%= f.select(:state_id, @states.map { |ss| [ss.state_name.to_s, ss.id] }, 
                      {prompt: 'Selecciona un estado'},
                      {class:"form-select min-w-300", data:{action: 'change->region#changeState'} }) %>
      </div>

      <div class="field form-outline mb-4">
        <%= f.label :province, 'Municipio' %><br />
        <%= f.select(:province_id, @provinces.present? ? @provinces.map { |province| [province.province_name, province.id] } : [],
              { prompt: 'Selecciona un municipio' },
              { class: "form-select min-w-300", data: { action: 'change->region#changeProvince', region_target: 'provinceSelect' }} ) %>
      </div>

      <div class="field form-outline mb-4">
        <%= f.label :parish, 'Parroquia' %><br />
        <%= f.select(:parish_id, @parishes.present? ? @parishes.map { |parish| [parish.parish_name, parish.id] } : [], {prompt: 'Selecciona una parroquia'}, {class:"form-select min-w-300", 
                      data: {action: 'change->region#changeParish', region_target: 'parishSelect'}} ) %>
      </div>

      <%= form_text_field(f, :address, h_value(@legal_tutor, :address), @legal_tutor, 'Completa dirección') %>
      <%= form_text_field(f, :ocupation, h_value(@legal_tutor, :ocupation), @legal_tutor, 'Ocupación') %>
      <%= form_text_field(f, :ocupation_place, h_value(@legal_tutor, :work_place), @legal_tutor, 'Lugar de trabajo o estudio') %>

      <div class="field form-outline mb-4">
        <div class="form-check form-check-inline">
          <%= f.label :ocupation_type, 'Publico', class: 'form-check-label mr-2' %>
          <%= f.radio_button :ocupation_type, :publico, class: 'form-check-input', checked: true %>
        </div>

        <div class="form-check form-check-inline">
          <%= f.label :ocupation_type, 'Privado', class: 'form-check-label mr-2' %>
          <%= f.radio_button :ocupation_type, :privado, class: 'form-check-input' %>
        </div>
      </div>

      <%= form_text_field(f, :phone, h_value(@legal_tutor, :phone), @legal_tutor, 'Número de teléfono') %>

      <div class="field form-outline mb-4">
        <%= f.label :level_education, 'Nivel de Educación', class: 'form-label' %>
        <%= f.select :level_education, ['Primaria', 'Secundaria', 'Superior'], 
          {selected: h_value(@legal_tutor, :level_education)}, class: "form-select min-w-300" %>
        <%= warning_message(@legal_tutor, :level_education) %>
      </div>

      <div class="field form-outline mb-4">
        <%= f.label :religion_id, 'Religión', class: 'form-label' %>
        <%= f.select :religion_id, Religion.all.where(archived: true).pluck(:religion_name, :id),
          {selected: h_value(@legal_tutor, :religion_id)}, class: "form-select min-w-300" %>
        <%= warning_message(@legal_tutor, :religion_id) %>
      </div>

      <%= form_text_field(f, :second_email, h_value(@legal_tutor, :second_email), @legal_tutor, 'Correo electrónico secundario') %>

      <div class="actions d-flex justify-content-center">
        <%= f.submit @legal_tutor[:first_name].nil? || @legal_tutor[:first_name] == '' || !@legal_tutor.valid? ? 'Registrar' : 'Actualizar', class: 'btn btn-primary btn-lg btn-block' %>
      </div>
    </div>
  <% end %>
<% end %>
