<%= turbo_stream.update @target_r do %>
  <% options_for_select @regions %>
<% end %>
<%= turbo_stream.update @target_d do %>
  <% options_for_select @districts %>
<% end %>
<%= turbo_stream.update @target_g do %>
  <% options_for_select @group_units %>
<% end %>
<%= turbo_stream.update @target_u do %>
  <% options_for_select @units %>
<% end %>
