<p>¡Bienvenido <%= @email %>!</p>

<p>Puede confirmar el correo electrónico de su cuenta a través del siguiente enlace:</p>

<p><%= link_to 'Confirmar mi cuenta', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>Siempre Listos Para Servir</p>

<p>Asociación de Scouts de Venezuela</p>

<p>2024 - Futuro Sostenible</p>
